<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035125920651-derrics0mbva0qfas5hn00t9ie1o06q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035125920651-derrics0mbva0qfas5hn00t9ie1o06q7</string>
	<key>API_KEY</key>
	<string>AIzaSyAhqHSUwSl_69pb5ySmNr6olNsA2pROqzI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035125920651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diella</string>
	<key>PROJECT_ID</key>
	<string>diella</string>
	<key>STORAGE_BUCKET</key>
	<string>diella.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035125920651:ios:1dad3b53711d52a9c9158e</string>
</dict>
</plist>